.login {
  min-height: 100vh;
  background: #111b35 url(/background.png) center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  width: min(20vw, 200px);
  height: auto;
}
.login-form {
  min-height: 30px;
  min-width: none;
  background: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.login-form .login-term {
  display: flex;
  gap: 10px;
}
.login-form h2 {
  font-weight: 500;
}
.login-form .form-input {
  padding: 8px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline-color: #077eff;
}
.login-form button {
  padding: 10px;
  background-color: #077eff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form .login-term {
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: #808080;
}
.login-form .login-forgot {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-form .login-toggle {
  font-size: 13px;
  color: #5c5c5c;
}
.login-form .login-toggle span {
  font-weight: 500;
  color: #077eff;
  cursor: pointer;
}
.login-form .login-error {
  margin: 0;
  color: #d32f2f;
  font-size: 13px;
}
.login-form .login-error {
  margin: 0;
  color: #d32f2f;
  font-size: 13px;
}
