.chat{
    height: 100vh;
    background: linear-gradient(#596AFF,#383699);
    display: grid;
    place-items: center;
}
.chat-container{
    height:78vh;
    width: auto;
    max-width: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.loading{
    font-size: 50px;
    color: white;
}

